<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WizAppMapper">
	
	<!-- 通过user_id获取数据 -->
	<select id="findByUName" parameterType="pd" resultType="pd">
		select 
			NAME	
		from 
			application 	
		where 
			NAME = #{NAME}
	</select>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into application(
			NAME,	
			TOKEN,	
			TYPE,	
			STATUS,	
			SORT,	
			LEVEL,	
			AVATAR,	
			TENANT_ID,	
			CREATED,	
			UPDATED,	
			NAME_PY,	
			NAME_QUANPIN,	
			DESCRIPTION,	
			FOLLOW,	
			ID
		) values (
			#{NAME},	
			#{TOKEN},	
			#{TYPE},	
			#{STATUS},	
			#{SORT},	
			#{LEVEL},	
			#{AVATAR},	
			#{TENANT_ID},	
			#{CREATED},	
			#{UPDATED},	
			#{NAME_PY},	
			#{NAME_QUANPIN},	
			#{DESCRIPTION},	
			#{FOLLOW},	
			#{WIZAPP_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from application
		where 
			ID = #{WIZAPP_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  application
			set 
				NAME = #{NAME},
				TOKEN = #{TOKEN},
				TYPE = #{TYPE},
				AVATAR = #{AVATAR},
				TENANT_ID = #{TENANT_ID},
				NAME_PY = #{NAME_PY},
				STATUS = #{STATUS},
				NAME_QUANPIN = #{NAME_QUANPIN},
				DESCRIPTION = #{DESCRIPTION},
			ID = ID
			where 
				ID = #{WIZAPP_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			NAME,	
			TOKEN,	
			TYPE,	
			STATUS,	
			SORT,	
			LEVEL,	
			AVATAR,	
			TENANT_ID,	
			CREATED,	
			UPDATED,	
			NAME_PY,	
			NAME_QUANPIN,	
			DESCRIPTION,	
			FOLLOW,	
			ID  AS WIZAPP_ID 
		from 
			application
		where 
			ID = #{WIZAPP_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.NAME,	
				a.TOKEN,	
				a.TYPE,	
				a.STATUS,	
				a.SORT,	
				a.LEVEL,	
				a.AVATAR,	
				a.TENANT_ID,	
				a.CREATED,	
				a.UPDATED,	
				a.NAME_PY,	
				a.NAME_QUANPIN,	
				a.DESCRIPTION,	
				a.FOLLOW,	
				a.ID AS WIZAPP_ID,
				t.NAME AS TENANT_NAME 
		from 
				application a ,tenant t
		where a.TENANT_ID=t.ID 	
		
		and 1 = 1 

		<if test="pd.NAME != null and pd.NAME != ''"><!-- 关键词检索 -->
			and
				(
					 a.NAME LIKE CONCAT(CONCAT('%', #{pd.NAME}),'%')
					
				)
		</if>
		<if test="pd.TENANT_ID != null and pd.TENANT_ID != ''"><!-- 租户检索 -->
			and a.TENANT_ID=#{pd.TENANT_ID} 
		</if>
		
		<if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 到期时间检索 -->
			and a.CREATED &gt;= #{pd.lastLoginStart}
		</if>
		
		<if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 到期时间检索 -->
			and a.UPDATED &lt;= #{pd.lastLoginEnd}
		</if>
			
	</select>
	
		<!-- 列表 -->
	<select id="listMyApp" parameterType="page" resultType="pd">
		select
				a.NAME,	
				a.TOKEN,	
				a.TYPE,	
				a.STATUS,	
				a.SORT,	
				a.LEVEL,	
				a.AVATAR,	
				a.TENANT_ID,	
				a.CREATED,	
				a.UPDATED,	
				a.NAME_PY,	
				a.NAME_QUANPIN,	
				a.DESCRIPTION,	
				a.FOLLOW,	
				a.ID AS WIZAPP_ID,
				t.NAME AS TENANT_NAME 
		from 
				application a  left join tenant t on a.tenant_id=t.id 
		
		where 1=1 
		<if test="pd.NAME != null and pd.NAME != ''"><!-- 关键词检索 -->
			and
				(
					 a.NAME LIKE CONCAT(CONCAT('%', #{pd.NAME}),'%')
					
				)
		</if>
		<if test="pd.TENANT_ID != null and pd.TENANT_ID != ''"><!-- 租户检索 -->
			and a.TENANT_ID=#{pd.TENANT_ID} 
		</if>
		<if test="pd.USERNAME != null and pd.USERNAME != ''"><!-- 租户检索 -->
			and a.follow=#{pd.USERNAME} 
		</if>
		
		<if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 到期时间检索 -->
			and a.CREATED &gt;= #{pd.lastLoginStart}
		</if>
		
		<if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 到期时间检索 -->
			and a.UPDATED &lt;= #{pd.lastLoginEnd}
		</if>
			
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.NAME,	
				a.TOKEN,	
				a.TYPE,	
				a.STATUS,	
				a.SORT,	
				a.LEVEL,	
				a.AVATAR,	
				a.TENANT_ID,	
				a.CREATED,	
				a.UPDATED,	
				a.NAME_PY,	
				a.NAME_QUANPIN,	
				a.DESCRIPTION,	
				a.FOLLOW,	
				a.ID AS WIZAPP_ID 
		from 
				application a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAllAPPS" parameterType="pd" resultType="pd">
		select
				a.NAME	AS APP_NAME,
				
				a.ID AS APP_ID 
		from 
				application a
	</select>
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from application
		where 
			ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>